body {
  margin: 0;
  background-color: #fafafa;
  color: #333;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}
h1,h2,h3,h4 {
  font-size: 400;
}
h1 {
  margin: 0;
  font-size: 6em;
}
.page-header {
  padding: 4.5em 0 6em;;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.page-footer {
  margin-top: 6em;
  padding: 1.5em 0 1.5em;
  background-color: #f8f8f8;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.container {
  margin-top: 3em;
}
.container:first-of-type {
  margin-top: 0;
}
.sc--box {
  min-height: 1.5em;
  margin-bottom: 0.75em;
  background-color: rgba(0, 163, 136, 0.2);
  border: 1px solid rgba(0, 163, 136, 0.2);
}
.sc--box-highlight {
  background-color: rgba(0, 163, 136, 0.6);
}
.sc--box p {
  color: #fff;
  margin: 0;
  line-height: 1.5;
}
.sc--container {
  padding: 0.75em;
}
.sc--container .sc--box {
  margin-bottom: 0;
}
.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.75em 1em;
  color: rgb(0, 163, 136);
  border: 1px solid rgb(0, 163, 136);
  text-decoration: none;
}
.btn--primary {
  background-color: rgb(0, 163, 136);
  color: #fff;
}
